# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

legosimulator/Debug/
legosimulator/Release/
legosimulator/legosimulator/Debug/
legosimulator/legosimulator/Release/

